<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.steveelliott.biminirun</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>source ~/.nvm/nvm.sh &amp;&amp; pm2 serve ~/bimini-run-dist 5175 --name bimini-run --spa</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/steveelliott/Library/Logs/bimini-run.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/steveelliott/Library/Logs/bimini-run-error.log</string>
</dict>
</plist>
